# Node
Backend/node_modules
Backend/.env
Backend/logs
Backend/*.log

# Node
Loadbalancer/node_modules
Loadbalancer/.env
Loadbalancer/logs
Loadbalancer/*.log

# Flutter
hostel_manas/.dart_tool/
hostel_manas/build/
hostel_manas/.packages
hostel_manas/.flutter-plugins
hostel_manas/.flutter-plugins-dependencies

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/